# Python
__pycache__/
venv/

# Jekyll
Gemfile.lock
vendor/
.bundle/
_site/
site/

# Other
*.docx
*.md
*.html
*.png
*.jpg
*.gif
*.log
!README.md
!CONTRIBUTING.md
!docs/*.md
!docs/**/*.png
!docs/**/*.jpg
!docs/**/*.gif
