beancount==2.3.0
beautifulsoup4==4.9.0
mkdocs==1.1
mkdocs-redirects==1.0.0
mkdocstrings==0.11.0
panflute==1.11.2
py-pandoc==2.7.2
pypandoc==1.5
python-docx==0.8.10
python-slugify==3.0.2
requests==2.21.0
